#!/bin/bash

# local variable
CWD="/home/pi/guseokguseok"
WLAN="wlan1"

# check variable
if [ -z ${CWD} ]
then
    echo "CWD is not setted!"
    exit 0
fi
if [ -z ${WLAN} ]
then
    echo "WLAN is not setted!"
    exit 0
fi

# change wlan interface to monitor mode
sudo ifconfig ${WLAN} down
sudo iwconfig ${WLAN} mode monitor
sudo ifconfig ${WLAN} up

# start scan
cd ${CWD}
cd ./src/localscanner
sudo python3.5 local_scanner.py
